<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    
    {{include('client/links/cssLink.html.twig')}}
    {% block stylesheets %}
        {{ ux_controller_link_tags() }}
    {% endblock %}
    
    {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
    {% endblock %}
</head>

<body>
    <body>
        
        {{ include('client/partials/head.html.twig') }}
        {% block body %}{% endblock %}
        {{include('client/partials/footer.html.twig')}}
    </body>
    {{include('client/links/jsLink.html.twig')}}
    
</html>
