{% extends 'base.html.twig' %}



{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <div id="layout-wrapper">
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row justify-content-center"> <!-- Ajout de la classe 'justify-content-center' pour centrer la ligne -->
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-3">
                                        {{ form_start(form) }}
                                        {{ form_row(form.camera) }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form_row(form.reduction) }}
                                    </div>
                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
{% endblock %}
