<!-- Back-to-top -->
<a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

<!-- Jquery js-->
<script src="{{ asset('assets_dashboard/plugins/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap js-->
<script src="{{ asset('assets_dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Ionicons js-->
<script src="{{ asset('assets_dashboard/plugins/ionicons/ionicons.js') }}"></script>

<!-- Moment js -->
<script src="{{ asset('assets_dashboard/plugins/moment/moment.js') }}"></script>

<!-- P-scroll js -->
<script src="{{ asset('assets_dashboard/plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('assets_dashboard/plugins/perfect-scrollbar/p-scroll.js') }}"></script>

<!-- Rating js-->
<script src="{{ asset('assets_dashboard/plugins/rating/jquery.rating-stars.js') }}"></script>
<script src="{{ asset('assets_dashboard/plugins/rating/jquery.barrating.js') }}"></script>

<!-- Custom Scroll bar Js-->
<script src="{{ asset('assets_dashboard/plugins/mscrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>

<!-- Sidebar js -->
<script src="{{ asset('assets_dashboard/plugins/side-menu/sidemenu.js') }}"></script>

<!-- Right-sidebar js -->
<script src="{{ asset('assets_dashboard/plugins/sidebar/sidebar.js') }}"></script>
<script src="{{ asset('assets_dashboard/plugins/sidebar/sidebar-custom.js') }}"></script>

<!-- Sticky js-->
<script src="{{ asset('assets_dashboard/js/sticky.js') }}"></script>

<!-- eva-icons js -->
<script src="{{ asset('assets_dashboard/js/eva-icons.min.js') }}"></script>

<!-- custom js -->
<script src="{{ asset('assets_dashboard/js/custom.js') }}"></script>
