{% extends 'client/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container login">
        <div class="roww">
            <div class="user-actions">
                <form method="post" action="{{ path('app_login') }}">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <div class="form_group">
                        <label for="inputEmail">Email</label>
                        <input type="email"  value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus>
                    </div>
                    
                    <div class="form_group">
                        <label for="inputEmail">Password</label>
                        <input type="password" name="password" id="inputPassword"  autocomplete="current-password" required>
                    </div>
                
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="form_group group_3 ">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Login
                        </button>
                    </div>
                    
                    <a href="{{path('app_forgot_password_request')}}">Lost your password?</a>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock %}
