{% extends 'dashboard/base.html.twig' %}

{% block title %}Add Camera Details{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyVQZlZl5E/V7hRTtXxpgO9RY" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tableexport@5.0.2/dist/css/tableexport.min.css">
    <style>
        /* Vos styles CSS personnalisés ici */
    </style>
{% endblock %}

{% block body %}
    <br>
    <h1 style="display: flex; align-items: center;">
        Add Camera Details
    </h1>
 
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">Custom Style Invalid Messages</div>
                <p class="mg-b-20">It is Very Easy to Customize and it uses in your website application.</p>
                {{ form_start(form, {'attr': {'class': 'form', 'enctype': 'multipart/form-data'}}) }}

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.prix) }}
                            {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.stock) }}
                            {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.dateAjout) }}
                            {{ form_widget(form.dateAjout, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.status) }}
                            {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.categorie) }}
                            {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.couleur) }}
                            {{ form_widget(form.couleur, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.visionNoctrune) }}
                            {{ form_widget(form.visionNoctrune, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.poids) }}
                            {{ form_widget(form.poids, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.materiaux) }}
                            {{ form_widget(form.materiaux, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.resolution) }}
                            {{ form_widget(form.resolution, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.angleVision) }}
                            {{ form_widget(form.angleVision, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.connectivite) }}
                            {{ form_widget(form.connectivite, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.stockage) }}
                            {{ form_widget(form.stockage, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.alimentation) }}
                            {{ form_widget(form.alimentation, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(formI.imageFile) }}
                            {{ form_widget(formI.imageFile, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit"  class="btn btn-success">Ajouter</button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
