{% extends 'base.html.twig' %}

{% block title %}Avis des clients
{% endblock %}

{% block stylesheets %}
	<style>
		body {
			padding-top: 40px;
			background: #E6E6FA
		}
		.card {
			box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
		}

		.avatar-md {
			height: 5rem;
			width: 5rem;
		}

		.fs-19 {
			font-size: 19px;
		}

		.primary-link {
			color: #314047;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}

		a {
			color: #02af74;
			text-decoration: none;
		}

		.bookmark-post .favorite-icon a,
		.job-box.bookmark-post .favorite-icon a {
			background-color: #da3746;
			color: #fff;
			border-color: danger;
		}
		.favorite-icon a {
			display: inline-block;
			width: 30px;
			height: 30px;
			font-size: 18px;
			line-height: 30px;
			text-align: center;
			border: 1px solid #eff0f2;
			border-radius: 6px;
			color: rgba(173, 181, 189, 0.55);
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}


		.candidate-list-box .favorite-icon {
			position: absolute;
			right: 22px;
			top: 22px;
		}
		.fs-14 {
			font-size: 14px;
		}
		.bg-soft-secondary {
			background-color: rgba(116, 120, 141, 0.15) !important;
			color: #74788d !important;
		}

		.mt-1 {
			margin-top: 0.25rem !important;
		}
	</style>

{% endblock %}


{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous"/>
	<section class="section">
		<div class="container">
			<div class="justify-content-center row">
				<div class="col-lg-12">
					<div class="candidate-list-widgets mb-4">
						<form action="#" class="">
							<div class="g-2 row">
								<div class="col-lg-3">
									<div class="filler-job-form">
										<i class="uil uil-briefcase-alt"></i><input id="exampleFormControlInput1" placeholder="Search by keywords" type="search" class="form-control filler-job-input-box form-control"/>
									</div>
								</div>
								
								<div class="col-lg-3">
									<div class="filler-job-form">
										<i class="uil uil-clipboard-notes"></i>
										<select class="form-select selectForm__inner" data-trigger="true" name="choices-single-categories" id="choices-single-categories" aria-label="Default select example">
											<option value="4">1 Star</option>
											<option value="1">2 stars or less</option>
											<option value="3">3 stars</option>
											<option value="5">4 stars or more</option>
										</select>
									</div>
								</div>
								<div class="col-lg-3">
									<div>
										<a class="btn btn-primary" href="#">
											<i class="uil uil-filter"></i>
											Filter</a>
										
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>


			</div>
			<div class="row">
				<div class="col-lg-12">
					
					<div class="candidate-list">
						{% for avis in avis_list %}
							<div class="candidate-list-box card mt-4">
								<div class="p-4 card-body">
									<div class="align-items-center row">
										<div class="col-auto">
											<div class="candidate-list-images">
												<a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="avatar-md img-thumbnail rounded-circle"/></a>
											</div>
										</div>
										<div class="col-lg-5">
											<div class="candidate-list-content mt-3 mt-lg-0">
												<h5 class="fs-19 mb-0">
													<a class="primary-link" href="#">{{ avis.client.nom }}
														{{ avis.client.prenom }}</a>
													{% if avis.note <= 2 %}
														<span class="badge bg-danger ms-1">
															<i class="mdi mdi-star align-middle"></i>
															{{ avis.note }}</span>
													{% elseif avis.note == 3 %}
														<span class="badge bg-warning ms-1">
															<i class="mdi mdi-star align-middle"></i>
															{{ avis.note }}</span>
													{% elseif avis.note >= 4 and avis.note <= 5 %}
														<span class="badge bg-success ms-1">
															<i class="mdi mdi-star align-middle"></i>
															{{ avis.note }}</span>
													{% endif %}
												</h5>
												<p class="text-muted mb-2">{{ avis.client.email }}</p>
												<ul class="list-inline mb-0 text-muted">
													<li class="list-inline-item">
														<i class="mdi mdi-map-marker"></i>
														{{ avis.client.adresse }}</li>
													<li class="list-inline-item">
														<img src="/assets/images/avis/videosurveillance.png" alt="Video Surveillance" style="width: 16px; height: 16px;">
														{{ avis.camera.nom }}
													</li>

												</ul>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
												<span class="badge bg-soft-secondary fs-18 mt-1">{{ avis.commentaire }}</span>
											</div>
										</div>

									</div>
									<div class="favorite-icon">
										<a href="#">
											<i class="mdi mdi-heart fs-18"></i>
										</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>


				</div>
			</div>
			<div class="row">
				<div class="mt-4 pt-2 col-lg-12">
					<nav aria-label="Page navigation example">
						<div class="pagination job-pagination mb-0 justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" tabindex="-1" href="#">
									<i class="mdi mdi-chevron-double-left fs-15"></i>
								</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">4</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">
									<i class="mdi mdi-chevron-double-right fs-15"></i>
								</a>
							</li>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
