{% extends 'client/base.html.twig' %}

{% block title  %}Checkout{% endblock %}
{% block body %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area breadcrumbs_other">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content text-center">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><a href="#">pages</a></li>
                        </ul>
                        <h3>checkout</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--Checkout page section-->
    <div class="checkout_section" id="accordion">
        <div class="container">
            {{ form_start(formOrder) }}
            <div class="returning_coupon_area">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div class="user-actions">
                            <h3>
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                Returning customer?
                                <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_login" aria-expanded="true">Click here to login</a>

                            </h3>
                                <div id="checkout_login" class="collapse" data-parent="#accordion">
                                <div class="checkout_info">
                                    <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
                                    {#<form action="#">#}
                                        <div class="form_group">
                                            <label>Username or email <span>*</span></label>
                                            <input type="text">
                                        </div>
                                        <div class="form_group">
                                            <label>Password  <span>*</span></label>
                                            <input type="text">
                                        </div>
                                        <div class="form_group group_3 ">
                                            <button class="btn btn-primary" type="submit">Login</button>
                                            <label for="remember_box">
                                                <input id="remember_box" type="checkbox">
                                                <span> Remember me </span>
                                            </label>
                                        </div>
                                        <a href="#">Lost your password?</a>
                                    {#</form>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="user-actions">
                            <h3>
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                Have a Coupon ?
                                <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_coupon2" aria-expanded="true">Click here to enter your code</a>

                            </h3>
                                <div id="checkout_coupon2" class="collapse" data-parent="#accordion">
                                <div class="checkout_info coupon_info">
                                    {{ form_row(formOrder.voucher, {attr: {class: 'form-control'}}) }}
                                    {{ form_widget(formOrder.applyVoucher, {attr: {class: 'btn btn-primary'}})}}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <h3>Billing Details</h3>

                        <div class="cart_page_tabel">
                            <table>
                                <tbody>
                                    {% if cart is not empty %}

                                        {% for item in cart.getLines %}

                                            <tr class="border-top">
                                                <td>
                                                    {% set imageCamera = item.image|first %}
                                                    {% if imageCamera %}
                                                        <a href="#"><img src="{{ minio_url(imageCamera.image) }}" alt=""></a>
                                                    {% else %}
                                                        <img src="" alt="oussama">
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="cart_product_text">
                                                        <h4>Example With Title Product</h4>
                                                        <ul>
                                                            <li><i class="ion-ios-arrow-right"></i> Stockage : <span>{{item.stockage}}</span></li>
                                                            <li><i class="ion-ios-arrow-right"></i> Size : <span>XL</span></li>
                                                        </ul>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="cart_product_price">
                                                        <span>${{ item.TotalPriceItem }}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                            {% if cart is empty or cart.getLines is empty %}
                                <div class="col-12">
                                    <div class="alert alert-warning" role="alert">
                                        No items in your cart.
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="order_table_right">

                                <h3>Your order</h3>
                                <div class="order_table table-responsive">
                                    <table>

                                        <tfoot>
                                            <tr>
                                                <td>Cart Subtotal  </td>
                                                <td class="text-right">${{totalItems}}</td>
                                            </tr>
                                            <tr class="order_total">
                                                <th>Order Total</th>
                                                <td class="text-right">
                                                    {% if is_voucher_applied is same as(true) %}
                                                        <span class="text-decoration-line-through">${{totalItems}}</span>
                                                         <br />
                                                        <span style="font-size: 150%">${{ discount | number_format(2, ',', ' ') }}</span>
                                                        {% if is_voucher_applied is same as(true) %}
                                                            <p style="font-size: 50%"><small>you applied <strong>{{ voucher }}</strong> (- {{ rate }} %)</small></p>
                                                            {% endif %}
                                                    {% else %}
                                                        ${{totalItems}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                        <div class="panel-default">
                                            {{form_widget(formOrder.paiment)}}
                                            <div class="panel_radio">

                                                <span class="checkmark"></span>
                                            </div>

                                            <label for="payment1" data-toggle="collapse" data-target="#panel1" >direct bank transfer</label>
                                            <div id="panel1" class="collapse show one" data-parent="#accordion">
                                                <div class="card-body1">
                                                    <p>Donec sed odio dui. Nulla vitae elit libero, a phara etra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-default">
                                            <div class="panel_radio">
                                                <input id="payment2" name="check_method" type="radio" data-target="createp_account" />
                                                <span class="checkmark"></span>
                                            </div>
                                            <label for="payment2" data-toggle="collapse" data-target="#method2" >cheque payment</label>
                                            <div id="method2" class="collapse two" data-parent="#accordion">
                                                <div class="card-body1">
                                                    <p>Donec sed odio dui. Nulla vitae elit libero, a phara etra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-default">
                                            <div class="panel_radio">
                                                <input id="payment3" name="check_method" type="radio" data-target="createp_account" />
                                                <span class="checkmark"></span>
                                            </div>
                                            <label for="payment3" data-toggle="collapse" data-target="#method3" >cash on delivery</label>
                                            <div id="method3" class="collapse three" data-parent="#accordion">
                                                <div class="card-body1">
                                                    <p>Donec sed odio dui. Nulla vitae elit libero, a phara etra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="place_order_btn">
                                            {{ form_widget(formOrder.placeOrder, {attr: {class: 'btn btn-primary'}})}}
                                        </div>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(formOrder) }}
            {{ form_end(formOrder) }}
        </div>
    </div>
    <!--Checkout page section end-->


 {% endblock %}