
{% extends 'client/base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <style>
        

    </style>
{% endblock %}

{% block body %}
    {{ include('client/partials/head.html.twig') }}
    <div class="container login">
        <div class="roww">
            <div class="user-actions">
                {% if error == true and error != null %}
                    <div class="alert alert-danger">
                        <p>Invalid credentials. Please try again.</p>
                    </div>
                {% endif %}
                {{form_start(form)}}
                    <div class="form_group">
                        <label>Username or email <span>*</span></label>
                        {{ form_widget(form.email,{'attr':{'placeholder':'Enter your Email'}}) }}
                        
                    </div>
                    <div class="form_group">
                        <label>Password  <span>*</span></label>
                        {{ form_widget(form.password,{'attr':{'placeholder':'Enter your Password'}}) }}
                        
                    </div>
                    <div class="form_group group_3 ">
                        <button class="btn btn-primary" type="submit">Login</button>
                         
                        <label for="remember_box">
                            <input id="remember_box" type="checkbox">
                            <span> Remember me </span>
                        </label>
                    </div>
                    <a href="#">Lost your password?</a>
                
                {{form_end(form)}}
                        
            </div>
        </div>
    </div>

{% endblock %}