{% extends 'client/base.html.twig' %}


{% block title %}Shop{% endblock %}



{% block body %}
    
    <!--shop  area start -->
    <div class="shop_section shop_reverse">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                   <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_inner">
                            <div class="widget_list widget_categories">
                                <h2>Categories</h2>
                                <ul>
                                    
                                    <li class="widget_sub_categories category"><a href="javascript:void(0)" data-toggle="collapse" data-target="#men">Camera</a>
                                        <ul class="widget_dropdown_categories collapse show" id="men">
                                            {% for cat in categories %}
                                            <li><a href="{{path('camera_search',{categorie:cat.nom})}}"  data-turbo-frame="recherch" >{{cat.nom}} <span>68</span></a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="widget_sub_"><a href="javascript:void(0)" data-toggle="collapse" data-target="#women">Reduction</a>
                                        <ul class="widget_dropdown_categories collapse " id="women">
                                            <li><a href=""> All <span>104</span></a></li>
                                            
                                            <li><a href="">10%<span>68</span></a></li>
                                            <li><a href="">20%<span>68</span></a></li>
                                            <li><a href="">30%<span>68</span></a></li>
                                            <li><a href="">40%<span>68</span></a></li>
                                            <li><a href="">50%<span>68</span></a></li>
                                            
                                        </ul>
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                            <div class="widget_list widget_filter">
                                <div class="filter__list slider_range">
                                    <h3>price</h3>
                                    <form action="{{path('camera_search')}}" method="get" id="price-filter-form">
                                        <div id="slider-range"></div>
                                        <span>Range:</span>
                                        <input type="text" name="price_range" id="amount"  readonly style="border:0; color:#f6931f; font-weight:bold;">
                                        
                                    </form>
                                </div>

                                <div class="filter__list widget_size">
                                    <h3>ANGLE VISION</h3>
                                    <ul>
                                        <li>
                                            <a href="{{path('camera_search',{angle:'90'})}}" >90</a>
                                        </li>
                                        <li>
                                            <a href="{{path('camera_search',{angle:'120'})}}" >120</a>
                                        </li>
                                        <li>
                                            <a href="{{path('camera_search',{angle:'180'})}}" >180</a>
                                        </li>
                                        <li>
                                            <a href="{{path('camera_search',{angle:'360'})}}" >360</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                                
                                <div class="filter__list widget_brands">
                                    <form action="{{path('camera_search')}}" id="res-filter-form" method="get">
                                        
                                        <h3 data-toggle="collapse" data-target="#brands">Resolution</h3>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="radio" value="SD"  name="res[]">
                                            <label class="form-check-label" >SD</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="radio" value="HD"  name="res[]" >
                                            <label class="form-check-label" >HD</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="radio" value="4K"  name="res[]" >
                                            <label class="form-check-label" >4K</label>
                                        </div> 
                                    </form>   
                                </div>
                                
                                
                                <div class="filter__list widget_brands">
                                    <h3 data-toggle="collapse" data-target="#brands">Connectivite</h3>
                                    <ul class="widget_dropdown_conn collapse show" id="brands">
                                        <li><a href="{{path('camera_search',{connectivite:true})}}"> Yes <span>104</span></a></li>
                                        <li><a href="{{path('camera_search',{connectivite:false})}}">No <span>68</span></a></li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="widget_list">
                                <h2>Recent Product</h2>
                                <div class="recent_product">
                                    <div class="recent_product_list d-flex mb-25">
                                        <div class="recent_thumb">
                                            <a href="product-details.html"><img src="assets/img/product/product4.jpg" alt=""></a>
                                        </div>
                                        <div class="recent_content">
                                            <h4><a href="product-details.html">Barbour T-shirt <br> International</a></h4>
                                            <span>$32.00</span>
                                        </div>
                                    </div>
                                    <div class="recent_product_list d-flex">
                                        <div class="recent_thumb">
                                            <a href="product-details.html"><img src="assets/img/product/product6.jpg" alt=""></a>
                                        </div>
                                        <div class="recent_content">
                                            <h4><a href="product-details.html">Barbour T-shirt <br> International</a></h4>
                                            <span>$32.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->

                    <!--breadcrumbs area start-->
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><a href="{{path('app_camera')}}">shop</a></li>
                        </ul>
                    </div>
                    <!--breadcrumbs area end-->

                    <div class="shop_banner d-flex align-items-center">
                        <img src="{{asset('assets/img/R.jpg')}}" alt="Essential Wears Background" class="shop_banner_bgimg">
                        <div class="shop_banner_text">
                            <h2>essential <br> camera</h2>
                            <p>The collections basic items <br> essential for all </p>
                        </div>
                    </div>
                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper d-flex justify-content-between align-items-center"  >
                        <div class="page_amount">
                            <p><span>1.260</span> Products Found</p>
                        </div>
                        <div class=" sorting_by d-flex align-items-center">
                            <span>SORT BY :</span>
                            <form class="select_option" action="#">
                                <select name="orderby" id="short">

                                    <option selected value="1">NAME       3</option>
                                    <option  value="2">NAME  4</option>
                                    <option value="3">NAME  5</option>
                                    <option value="4">NAME  6</option>
                                    <option value="5">NAME  7</option>
                                    <option value="6">NAME  8</option>
                                </select>
                            </form>
                        </div>
                        <div class="toolbar_btn_wrapper d-flex align-items-center">
                            <div class="view_btn">
                                <a class="view" href="#">VIEW</a>
                            </div>
                            <div class="shop_toolbar_btn">
                                <ul class="d-flex align-items-center">
                                    <li><a href="#" class="active btn-grid-3" data-role="grid_3" data-tippy="3"  data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-grid"></i></a></li>

                                    <li><a href="#" class="btn-list" data-role="grid_list" data-tippy="List" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-navicon"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <!--shop toolbar end-->
                    
                     
                     {{include("client/pages/components/cameras.html.twig")}}
                    
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {{ cameras.currentPageNumber == 1 ? 'disabled' : '' }}">
                                <a class="page-link" href="{{ cameras.currentPageNumber > 1 ? path('camera_search', {'page': cameras.currentPageNumber - 1}) : '#' }}" aria-label="Previous">
                                    <span aria-hidden="true">Previous</span>
                                </a>
                            </li>
                            {% for page in 1..cameras.pageCount %}
                                <li class="page-item {{ page == cameras.currentPageNumber ? 'active' : '' }}">
                                    <a class="page-link" href="{{ path('camera_search', {'page': page}) }}">{{ page }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item {{ cameras.currentPageNumber == cameras.pageCount ? 'disabled' : '' }}">
                                <a class="page-link" href="{{ cameras.currentPageNumber < cameras.pageCount ? path('camera_search', {'page': cameras.currentPageNumber + 1}) : '#' }}" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <!--shop  area end-->

    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="ion-android-close"></i></span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="modal_zoom_gallery">
                                   <div class="product_zoom_thumb">
                                        <img src="assets/img/product/big-product/product1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2 class="txt-title"></h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>
                                        <span class="old_price" >$78.99</span>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui,  </p>
                                    </div>
                                    <div class="variants_selects ">
                                        <div class="variants_size" >
                                            <div class="w-100" >
                                                <h2>Angle Vision</h2>
                                                <select class="select_option w-100">    
                                                    <option selected value="1">90 degrés</option>
                                                    <option value="1">120 degrés</option>
                                                    <option value="1">180 degrés</option>
                                                    <option value="1">360 degrés</option>
                                                </select>
                                            </div>
                                            <div class="w-100">
                                                <h2>Resolution</h2>
                                                <select class="select_option w-100">   
                                                    <option selected value="1">SD (Standard Definition)</option>
                                                    <option value="1">HD (High Definition) </option>
                                                    <option value="1">4K (Ultra High Definition)</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="variants_size">
                                            <div class="w-100" >
                                                <h2>Stockage</h2>
                                                <select class="select_option w-100">
                                                    <option selected value="1">2000 G</option>
                                                    <option value="1">100 G</option>
                                                    <option value="1">500 G</option>
                                                    <option value="1">1000 G</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="w-100">
                                                <h2>Materiaux</h2>
                                                <select class="select_option w-100">
                                                    <option selected value="1">Aluminium</option>
                                                    <option value="1">Acier</option>
                                                    <option value="1">Plastique</option>
                                                    <option value="1">Polycarbonate</option>
                                                    <option value="1">Silicone</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="panel-default">
                                            <div class="variants_size">
                                                <h2>Conectivite</h2>
                                            </div>
                                            
                                            <div class="panel_radio">
                                                <input id="" name="r" type="radio" data-target="createp_account" />
                                                <span class="checkmark"></span>
                                            </div>
                                            <label for="payment1" data-toggle="collapse" data-target="#panel1" >Yes</label>
                                            <div class="panel_radio">
                                                <input id="" name="r" type="radio" data-target="createp_account" />
                                                <span class="checkmark"></span>
                                            </div>
                                            <label for="payment1" data-toggle="collapse" data-target="#panel1" >Now</label>
                                            
                                        </div>
                                        <div class="modal_add_to_cart">
                                            <form action="#">
                                                <input min="1" max="100" step="2" value="1" type="number">
                                                <button type="submit">add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}

    
{% endblock %}




