{# templates/camera/camera_form.html.twig #}

{% extends 'dashboard/base.html.twig' %}

{% block body %}
<br>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Add Camera</h1>

                {# Ajoutez cette ligne pour définir l'action du formulaire avec l'attribut de données #}
                {{ form_start(form, {'attr': {'data-action': path('upload_photo', {'id': '__camera_id__'})}}) }}

                {{ form_row(form.nom) }}
                {{ form_row(form.description) }}
                {{ form_row(form.prix) }}
                {{ form_row(form.stock) }}
                {{ form_row(form.dateAjout) }}
                {{ form_row(form.status) }}
                {{ form_row(form.categorie) }}

                {{ form_row(form.valider, {'attr': {'class': 'btn btn-primary btn-block'}}) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
