<div class="body_overlay">

</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    <div class="header_contact_info">
                        <ul class="d-flex">
                            <li class="text-white"> <i class="icons icon-phone"></i> <a href="tel:+05483716566">+054 8371 65 66</a></li>
                            <li class="text-white"> <i class="icon-envelope-letter icons"></i> <a href="#">uthrstore@domain.com</a></li>
                        </ul>
                    </div>
                    <div class="header_social d-flex">
                        <span>Follow us</span>
                        <ul class="d-flex">
                            <li><a href="#"><i class="icon-social-twitter icons"></i></a></li>
                            <li><a href="#"><i class="icon-social-facebook icons"></i></a></li>
                            <li><a href="#"><i class="icon-social-instagram icons"></i></a></li>
                            <li><a href="#"><i class="icon-social-youtube icons"></i></a></li>
                            <li><a href="#"><i class="icon-social-pinterest icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="language_currency">
                        <ul class="d-flex">
                            <li class="language"><a href="#"> Eng <i class="icon-right ion-ios-arrow-down"></i></a>
                                <ul class="dropdown_language">
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                    <li><a href="#">Russian</a></li>
                                </ul>
                            </li>
                            <li class="currency"><a href="#"> USd <i class="icon-right ion-ios-arrow-down"></i></a>
                                <ul class="dropdown_currency">
                                    <li><a href="#">€ Euro</a></li>
                                    <li><a href="#">£ Pound Sterling</a></li>
                                    <li><a href="#">$ US Dollar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a href="#">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="shop.html">Shop</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="product-details.html"> Product Details</a>
                            </li>
                            <li><a href="#">sale</a></li>
                            <li class="menu-item-has-children">
                                <a href="#">pages </a>
                                <ul class="sub-menu">
                                    <li><a href="cart.html">cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                </ul>

                            </li>
                            <li><a href="#">buy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--offcanvas menu area end-->
<!--mini cart-->
<div class="mini_cart">
    <div class="cart_gallery">
        <div class="cart_close">
            <div class="cart_text">
                <h3>cart</h3>
            </div>
            <div class="mini_cart_close">
                <a href="javascript:void(0)"><i class="icon-close icons"></i></a>
            </div>
        </div>
        <div class="cart_item">
            <div class="cart_img">
                <a href="#"><img src="assets/img/product/product1.jpg" alt=""></a>
            </div>
            <div class="cart_info">
                <a href="#">Primis In Faucibus</a>
                <p>1 x <span> $65.00 </span></p>
            </div>
            <div class="cart_remove">
                <a href="#"><i class="icon-close icons"></i></a>
            </div>
        </div>
        <div class="cart_item">
            <div class="cart_img">
                <a href="#"><img src="assets/img/product/product2.jpg" alt=""></a>
            </div>
            <div class="cart_info">
                <a href="#">Letraset Sheets</a>
                <p>1 x <span> $60.00 </span></p>
            </div>
            <div class="cart_remove">
                <a href="#"><i class="icon-close icons"></i></a>
            </div>
        </div>
    </div>
    <div class="mini_cart_table">
        <div class="cart_table_border">
            <div class="cart_total">
                <span>Sub total:</span>
                <span class="price">$125.00</span>
            </div>
            <div class="cart_total mt-10">
                <span>total:</span>
                <span class="price">$125.00</span>
            </div>
        </div>
    </div>
    <div class="mini_cart_footer">
        <div class="cart_button">
            <a href="cart.html"><i class="fa fa-shopping-cart"></i> View cart</a>
        </div>
        <div class="cart_button">
            <a href="checkout.html"><i class="fa fa-sign-in"></i> Checkout</a>
        </div>
    </div>
</div>
<!--mini cart end-->
<!--header area start-->
<header class="header_section border-bottom">
    <div class="header_top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header_top_inner d-flex justify-content-between align-items-center">
                        <div class="header_contact_info">
                            <ul class="d-flex">
                                <li class="text-white"> <i class="icons icon-phone"></i> <a href="tel:+05483716566">+054 8371 65 66</a></li>
                                <li class="text-white"> <i class="icon-envelope-letter icons"></i> <a href="#">uthrstore@domain.com</a></li>
                            </ul>
                        </div>
                        <div class="free_shipping_text">
                            <p class="text-white">Free shipping worldwide for orders over $99 <a href="#">Learn More</a></p>
                        </div>
                        <div class="header_top_sidebar d-flex align-items-center">
                            <div class="header_social d-flex">
                                <span>Follow us</span>
                                <ul class="d-flex">
                                    <li><a href="#"><i class="icon-social-twitter icons"></i></a></li>
                                    <li><a href="#"><i class="icon-social-facebook icons"></i></a></li>
                                    <li><a href="#"><i class="icon-social-instagram icons"></i></a></li>
                                    <li><a href="#"><i class="icon-social-youtube icons"></i></a></li>
                                    <li><a href="#"><i class="icon-social-pinterest icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="language_currency">
                                <ul class="d-flex">
                                    <li class="language"><a href="#"> Eng <i class="icon-right ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_language">
                                            <li><a href="#">French</a></li>
                                            <li><a href="#">Spanish</a></li>
                                            <li><a href="#">Russian</a></li>
                                        </ul>
                                    </li>
                                    <li class="currency"><a href="#"> USd <i class="icon-right ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_currency">
                                            <li><a href="#">€ Euro</a></li>
                                            <li><a href="#">£ Pound Sterling</a></li>
                                            <li><a href="#">$ US Dollar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header_container d-flex justify-content-between align-items-center">
                        <div class="canvas_open">
                            <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                        </div>
                        <div class="header_logo">
                            <a class="sticky_none" href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <!--main menu start-->
                        <div class="main_menu d-none d-lg-block">
                            <nav>
                                <ul class="d-flex">
                                    <li><a href="{{path('app_test')}}">Home</a> </li>
                                    <li><a class="active" href="{{path('shop')}}">shop</a></li>
                                    <li><a href="{{path('product')}}">product</a></li>
                                    <li><a href="#">sale</a></li>
                                    <li><a href="#">pages</a>
                                        <ul class="sub_menu">
                                            <li><a href="{{path('cart')}}">Cart Pages</a></li>
                                            <li><a href="{{path('check')}}">Checkout Pages</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">blog</a>
                                        <ul class="sub_menu">
                                            <li><a href="{{path('blog')}}">Blog Pages</a></li>
                                            <li><a href="{{path('blogd')}}">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">buy</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header_account">
                            <ul class="d-flex">
                                <li class="header_search"><a href="#"><i class="icon-magnifier icons"></i></a></li>
                                <li class="account_link"><a href="#"><i class="icon-user icons"></i></a>
                                    <ul class="dropdown_account_link">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="{{path('app_signup')}}">Sign up</a></li>
                                        <li><a href="{{path('app_login')}}">Login</a></li>
                                        <li><a href="{{path('app_logout')}}">Logout</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="icon-heart icons"></i></a> <span class="item_count">2</span></li>
                                <li class="shopping_cart"><a href="#"><i class="icon-basket-loaded icons"></i></a> <span class="item_count">2</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page search box -->
    <div class="page_search_box">
        <div class="search_close">
            <i class="ion-close-round"></i>
        </div>
        <form class="border-bottom" action="#">
            <input class="border-0" placeholder="Search products..." type="text">
            <button type="submit"><span class="icon-magnifier icons"></span></button>
        </form>
    </div>

</header>
    <!--header area end-->