{% extends 'base.html.twig' %}


{% block body %}
    <h1>Blog index</h1>

    <table class="table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Contenu</th>
                <th>ImageCoverture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.contenu }}</td>
                <td>{{ blog.imageCoverture }}</td>
                <td>
                    <a href="{{ path('app_blog_show', {'id': blog.id}) }}">show</a>
                    <a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blog_new') }}">Create new</a>
{% endblock %}
