{% extends 'base.html.twig' %}




{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
	{# <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> #}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyVQZlZl5E/V7hRTtXxpgO9RY" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/tableexport@5.0.2/dist/css/tableexport.min.css">

	<style>

		body {
			background-color: whitesmoke !important;
		}

		#myTable {
			border: 1px white;
		}
		tr {
			border: 1px white;

		}
		.horizontal-buttons {
			display: flex;
			align-items: center;
		}

		.horizontal-buttons .dropdown-item,
		.horizontal-buttons .text-muted {
			margin-right: 10px; /* Adjust spacing between buttons */
		}
		.custom-header-bg {
			background-color: #f8f9fa; /* Custom header background color */
		}

		.custom-header {
			color: #495057; /* Custom header text color */
		}

		.price-cell {
			color: #28a745; /* Price cell text color */
		}

		.category-cell {
			color: #007bff; /* Category cell text color */
		}


		.horizontal-buttons .dropdown-item:hover,
		.horizontal-buttons .text-muted:hover {
			color: #0056b3; /* Change color on hover */
		}

		.dropdown-item i {
			color: #777; /* Default icon color */
		}

		/* Hover effect for table rows */
		tbody tr:hover {
			background-color: #f0f0f0; /* Change background color on hover */
		}

		/* Add spacing between table rows */
		tbody tr:not(:last-child) {
			margin-bottom: 10px; /* Adjust spacing between rows */
		}
		.card {
			width: 132%;
		}
	</style>
{% endblock %}

{% block body %}
	<div id="layout-wrapper">


		<div class="main-content">

			<div class="page-content">
				<div
					class="container-fluid">

					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">Cameras</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item">
											<a href="javascript: void(0);">Ecommerce</a>
										</li>
										<li class="breadcrumb-item active">Camera</li>
									</ol>
								</div>

							</div>
						</div>
					</div>
					<!-- end page title -->
					{# 
										<div class="row">
											<div class="col-xl-3 col-lg-4">
												<div class="card">
													<div class="card-header">
														<div class="d-flex mb-3">
															
															
					
														</div>
													</div>
					
													<div class="accordion accordion-flush filter-accordion">
					
														
													</div>
					
					
												</div>
											</div>
											<!-- end card -->
										</div> #}
					<!-- end col -->

						<div class="col-xl-9 col-lg-8"> <div>
							<div class="card">
								<div class="card-header border-0">
									<div class="row g-4">
										<div class="col-sm-auto">
											<div>
												<a href="{{ path('app_blog_new') }}" class="btn btn-success" id="addproduct-btn">
													<i class="ri-add-line align-bottom me-1"></i>
													Add Blog</a>

												<button type="button" class="btn btn-primary" onclick="confirmPrint()">
													<i class="ri-printer-line align-middle me-1"></i>
													Imprimer tableau
												</button>

												<button type="button" class="btn btn-info" onclick="confirmExport()">
													<i class="ri-file-excel-line align-middle me-1"></i>
													Exporter Excel
												</button>
											</div>
										</div>
										<div class="col-sm"></div>
									</div>
								</div>
								<br/>


								<div class="card-body">

									<table id="myTable" class="table">
										<thead>
											<tr class="align-middle custom-header-bg">
												<th class="custom-header text-center">Image</th>
												<th class="custom-header text-center">Contenu</th>
												<th class="custom-header text-center">Title</th>
												<th class="custom-header text-center">User</th>
												<th class="custom-header text-center">Cameras</th>
												<th class="custom-header text-center">Action</th>
											</tr>
										</thead>
										<tbody>
											{% for blog in blogs %}
												<tr data-camera-id="{{ blog.id }}">
													<td>
														<div class="avatar-group">
															<a href="javascript: void(0);" class="avatar-group-item" data-img="avatar-3.jpg" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Username">
																<img src="http://127.0.0.1:9000/fichier/{{ blog.imageCoverture }}" alt="" class="rounded-circle avatar-xxs">
															</a>
														</div>
													</td>
													<td class="align-middle text-center">{{ blog.title }}</td>
													<td class="align-middle text-center price-cell">{{ blog.contenu }}</td>
													<td class="align-middle text-center price-cell">{{ blog.user.nom }}</td>
													<td class="align-middle text-center">
														{% for camera in blog.Camera %}
															{{ camera.nom }}
															{% if not loop.last %},
															{% endif %}
														{% endfor %}
													</td>
													<td class="text-center align-middle horizontal-buttons">
														<a class="dropdown-item text-muted delete-blog-link" href="{{ path('app_blog_delete', {'id': blog.id}) }}">
															<i class="ri-delete-bin-line align-bottom me-2"></i>
														</a>
														<a class="text-muted" href="{{ path('app_blog_edit', {'id': blog.id}) }}">
															<i class="ri-pencil-line align-bottom me-2"></i>
														</a>
													</td>
												</tr>
											{% else %}
												<tr>
													<td colspan="6">no records found</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>


									<div class="tab-content text-muted">
										<div class="tab-pane active" id="productnav-all" role="tabpanel">
											<div id="table-product-list-all" class="table-card gridjs-border-none"></div>
										</div>
										<!-- end tab pane -->

										<div class="tab-pane" id="productnav-published" role="tabpanel">
											<div id="table-product-list-published" class="table-card gridjs-border-none"></div>
										</div>
										<!-- end tab pane -->

										<div class="noDataMessage" id="productnav-draft" role="tabpanel">
											<div class="py-4 text-center" id="noDataMessage" style="display: none;">
												<lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px"></lord-icon>
												<h5 class="mt-4">Désolé ! Aucun résultat trouvé</h5>
											</div>
										</div>
										<!-- end tab pane -->
									</div>
									<!-- end tab content -->

								</div>
								<!-- end card body -->
							</div>
							<!-- end card -->
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->

			</div>
			<!-- container-fluid -->
		</div>
		<!-- End Page-content -->


	</div>
</div></div></div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script><script src="https://cdn.jsdelivr.net/npm/sweetalert2@11">
</script><script src="https://unpkg.com/tableexport@5.0.2/dist/js/tableexport.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js">
</script><script>function printTable() {
var printWindow = window.open('', '_blank');
printWindow.document.open();
printWindow.document.write('<html><head><title>Print Table</title>');
printWindow.document.write('<style>');
printWindow.document.write('table {margin: auto; border-collapse: collapse; width: 80%;}');
printWindow.document.write('th, td {border: 1px solid black; padding: 8px;}');
printWindow.document.write('th {font-weight: bold; text-align: center;}');
printWindow.document.write('</style>');
printWindow.document.write('</head><body>');
printWindow.document.write('<table>');
printWindow.document.write('<thead>');
printWindow.document.write('<tr>');
printWindow.document.write('<th>Image</th>');
printWindow.document.write('<th>Contenu</th>');
printWindow.document.write('<th>Title</th>');
printWindow.document.write('<th>User</th>');
printWindow.document.write('<th>Cameras</th>');
printWindow.document.write('</tr>');
printWindow.document.write('</thead>');
printWindow.document.write('<tbody>');

var tableRows = document.getElementById('myTable').querySelectorAll('tbody tr');
tableRows.forEach(function (row) {
var rowData = row.querySelectorAll('td');
if (rowData.length > 0) {
printWindow.document.write('<tr>');
rowData.forEach(function (cell, index) {
if (index !== rowData.length - 1) {
printWindow.document.write('<td>' + cell.innerText + '</td>');
}
});
printWindow.document.write('</tr>');
}
});
printWindow.document.write('</tbody>');
printWindow.document.write('</table>');
printWindow.document.write('</body></html>');
printWindow.document.close();
printWindow.print();
}

function exportToExcel() {
var table = document.getElementById('myTable');
var rows = table.querySelectorAll('tr');
var csvData = [];

for (var i = 0; i < rows.length; i++) {
var row = rows[i];
var rowData = [];
var cols = row.querySelectorAll('td');

for (var j = 0; j < cols.length; j++) {
rowData.push(cols[j].innerText);
}

csvData.push(rowData.join(';'));
}

var csvContent = 'data:text/csv;charset=utf-8,';
csvContent += 'Image;Contenu;Prix;Title;User;Cameras\n';

for (var i = 0; i < csvData.length; i++) {
csvContent += csvData[i] + '\n';
}

var encodedUri = encodeURI(csvContent);
var link = document.createElement('a');
link.setAttribute('href', encodedUri);
link.setAttribute('download', 'BlogesCamera.csv');
document.body.appendChild(link);
link.click();
}
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.delete-blog-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault(); // Empêcher le comportement par défaut du lien

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) { // Envoyer la requête de suppression via AJAX
                    fetch(this.getAttribute('href'), {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest' // Ajouter cette entête pour indiquer une requête AJAX
                        },
                        body: JSON.stringify({_method: 'DELETE'}) // Utiliser la méthode DELETE pour Symfony
                    }).then(response => response.json()).then(data => {
                        if (data.success) {
                            Swal.fire('Deleted!', 'Your blog has been deleted.', 'success');
                            // Rediriger vers la page d'index des blogs après la suppression réussie
                            window.location.href = "{{ path('app_blog_index') }}";
                        } else {
                            Swal.fire('Error!', 'An error occurred while deleting the blog.', 'error');
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                }
            });
        });
    });
});


function confirmPrint() {
Swal.fire({
title: 'Print Table',
text: "Are you sure you want to print the table?",
icon: 'question',
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: 'Yes, print it!'
}).then((result) => {
if (result.isConfirmed) {
printTable();
}
});
}

function confirmExport() {
Swal.fire({
title: 'Export to Excel',
text: "Are you sure you want to export the table to Excel?",
icon: 'question',
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: 'Yes, export it!'
}).then((result) => {
if (result.isConfirmed) {
exportToExcel();
}
});
}</script>{% endblock %}
