{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    {# <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyVQZlZl5E/V7hRTtXxpgO9RY" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tableexport@5.0.2/dist/css/tableexport.min.css">
    <style>
        .custom-header-bg {
        background-color: #f8f9fa; /* Light grey background */
    }

    .custom-header {
        font-weight: bold;
        color: #495057; /* Custom header text color */
    }

    .avatar-xxs {
        width: 30px;
        height: 30px;
    }

    .horizontal-buttons {
        display: flex;
        align-items: center;
    }

    .horizontal-buttons a {
        margin-right: 10px; /* Adjust spacing between buttons */
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05); /* Slight grey for odd rows */
    }

    .table-striped tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.1); /* Slightly darker grey on hover */
    }

    /* Hover effect for table rows */
    tbody tr:hover {
        background-color: #f0f0f0; /* Change background color on hover */
        cursor: pointer; /* Add cursor pointer */
    }

    .text-danger {
        color: #dc3545 !important; /* Bootstrap danger color */
    }

    .text-warning {
        color: #ffc107 !important; /* Bootstrap warning color */
    }

    /* Optionally, add hover effects */
    .text-danger:hover {
        color: #bd2130 !important; /* Darker shade for danger color */
    }

    .text-warning:hover {
        color: #e0a800 !important; /* Darker shade for warning color */
    }

    .card {
        width: 136%; /* Adjust card width as needed */
    }

    </style>
{% endblock %}

{% block body %}
    <div id="layout-wrapper">
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">USERS</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item">
                                            <a href="javascript: void(0);">Ecommerce</a>
                                        </li>
                                        <li class="breadcrumb-item active">USERS</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <!-- end col -->
                        <div class="col-xl-9 col-lg-8">
                            <div>
                                <div class="card">
                                    <div class="card-header border-0">
                                        <div class="row g-4">
                                            <div class="col-sm-auto">
                                                <div>
                                                    <a href="{{ path('user_create') }}" class="btn btn-success" id="addproduct-btn">
                                                        <i class="ri-add-line align-bottom me-1"></i>
                                                        Add Users</a>
                                                    <button type="button" class="btn btn-primary" onclick="confirmAction('print')">
                                                        <i class="ri-printer-line align-middle me-1"></i>
                                                        Imprimer tableau
                                                    </button>
                                                    <button type="button" class="btn btn-info" onclick="confirmAction('export')">
                                                        <i class="ri-file-excel-line align-middle me-1"></i>
                                                        Exporter Excel
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-sm"></div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card-body">
                                          <table id="myTable" class="table table-striped table-bordered table-hover" style="width: 100%;">
                                            <thead class="thead-light">
                                                <tr class="align-middle custom-header-bg">
                                                    <th class="custom-header text-center">Photo</th>
                                                    <th class="custom-header text-center">Nom</th>
                                                    <th class="custom-header text-center">Prenom</th>
                                                    <th class="custom-header text-center">Email</th>
                                                    <th class="custom-header text-center">Ville</th>
                                                    <th class="custom-header text-center">Rôles</th>
                                                    <th class="custom-header text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in users %}
                                                <tr>
                                                    <td>
                                                        <div class="avatar-group">
                                                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="{{ user.nom }}">
                                                                {% if user.getImage() %}
                                                                <img src="http://127.0.0.1:9000/fichier/{{user.image}}" alt="" class="rounded-circle avatar-xxs">
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle text-center">{{ user.nom }}</td>
                                                    <td class="align-middle text-center">{{ user.prenom }}</td>
                                                    <td class="align-middle text-center">{{ user.email }}</td>
                                                    <td class="align-middle text-center">{{ user.ville }}</td>
                                                    <td class="align-middle text-center">{{ user.roles | join(', ') }}</td>
                                                    <td class="text-center align-middle horizontal-buttons">
                                                       <a class="dropdown-item text-danger delete-user-link" href="{{ path('user_delete', {id: user.id}) }}">
																<i class="ri-delete-bin-line align-bottom me-2"></i>
															</a>
															<a class="text-warning" href="{{ path('user_edit', {id: user.id}) }}">
																<i class="ri-pencil-line align-bottom me-2"></i>
															</a>

                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="tab-content text-muted">
                                            <div class="tab-pane active" id="productnav-all" role="tabpanel">
                                                <div id="table-product-list-all" class="table-card gridjs-border-none"></div>
                                            </div>
                                            <!-- end tab pane -->
                                            <div class="tab-pane" id="productnav-published" role="tabpanel">
                                                <div id="table-product-list-published" class="table-card gridjs-border-none"></div>
                                            </div>
                                            <!-- end tab pane -->
                                            <div class="noDataMessage" id="productnav-draft" role="tabpanel">
                                                <div class="py-4 text-center" id="noDataMessage" style="display: none;">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px"></lord-icon>
                                                    <h5 class="mt-4">Désolé ! Aucun résultat trouvé</h5>
                                                </div>
                                            </div>
                                            <!-- end tab pane -->
                                        </div>
                                        <!-- end tab content -->
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/tableexport@5.0.2/dist/js/tableexport.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.8/xlsx.full.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.delete-user-link').forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault(); // Empêcher le comportement par défaut du lien
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) { // Envoyer la requête de suppression via AJAX
                            fetch(this.getAttribute('href'), {
                                method: 'DELETE', // Utiliser la méthode DELETE pour Symfony
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-Requested-With': 'XMLHttpRequest' // Ajouter cette entête pour indiquer une requête AJAX
                                },
                                body: JSON.stringify({_method: 'DELETE'}) // Utiliser la méthode DELETE pour Symfony
                            }).then(response => response.json()).then(data => {
                                if (data.success) {
                                    Swal.fire('Deleted!', 'The user has been deleted.', 'success');
                                    // Actualiser la page après la suppression réussie
                                    location.reload();
                                } else {
                                    Swal.fire('Error!', 'An error occurred while deleting the user.', 'error');
                                }
                            }).catch(error => {
                                console.error('Error:', error);
                            });
                        }
                    });
                });
            });
        });
    </script>
    <script>
        // Votre code JavaScript existant ici
        // Fonction pour imprimer le tableau
        function printTable() {
            var printWindow = window.open('', '_blank');
            printWindow.document.open();
            printWindow.document.write('<html><head><title>Print Table</title>');
            printWindow.document.write('<style>');
            printWindow.document.write('table {margin: auto; border-collapse: collapse; width: 80%;}');
            printWindow.document.write('th, td {border: 1px solid black; padding: 8px;}');
            printWindow.document.write('th {font-weight: bold; text-align: center;}');
            printWindow.document.write('</style>');
            printWindow.document.write('</head><body>');
            printWindow.document.write('<table>');
            printWindow.document.write('<thead>');
            printWindow.document.write('<tr>');
            printWindow.document.write('<th>Photo</th>');
            printWindow.document.write('<th>Nom</th>');
            printWindow.document.write('<th>Prenom</th>');
            printWindow.document.write('<th>Email</th>');
            printWindow.document.write('<th>Ville</th>');
            printWindow.document.write('<th>Rôles</th>');
            printWindow.document.write('</tr>');
            printWindow.document.write('</thead>');
            printWindow.document.write('<tbody>');
            var tableRows = document.getElementById('myTable').querySelectorAll('tr');
            for (var i = 0; i < tableRows.length; i++) {
                var row = tableRows[i];
                var rowData = row.querySelectorAll('td');
                if (rowData.length > 0) {
                    printWindow.document.write('<tr>');
                    for (var j = 0; j < rowData.length; j++) {
                        if (j !== rowData.length - 1) {
                            printWindow.document.write('<td>' + rowData[j].innerText + '</td>');
                        }
                    }
                    printWindow.document.write('</tr>');
                }
            }
            printWindow.document.write('</tbody>');
            printWindow.document.write('</table>');
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }
        // Fonction pour exporter vers CSV
        function exportToExcel() {
            TableExport(document.getElementById('myTable'), {
                headers: true,
                footers: true,
                formats: ['xlsx'],
                filename: 'utilisateurs',
                exportButtons: false,
            }).exportFile();
        }
        // Fonction pour confirmer l'action d'impression ou d'exportation
        function confirmAction(action) {
            var title = action === 'print' ? 'Imprimer' : 'Export Excel';
            var confirmButtonText = action === 'print' ? 'Imprimer' : 'Exporter';
            Swal.fire({
                title: title,
                text: `Êtes-vous sûr de vouloir ${action === 'print' ? 'imprimer' : 'exporter vers Excel'} ces données?`,
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: confirmButtonText,
                cancelButtonText: 'Annuler'
            }).then((result) => {
                if (result.isConfirmed) {
                    if (action === 'print') {
                        printTable(); // Appeler la fonction d'impression
                    } else if (action === 'export') {
                        exportToCSV(); // Appeler la fonction d'exportation vers CSV
                    }
                }
            });
        }
    </script>
{% endblock %}
